@tailwind base;
@tailwind components;
@tailwind utilities;

/* ESTILOS GLOBALES */


.bton {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bton:hover {
    background-color: rgb(212 175 55 / var(--tw-text-opacity, 1));
    color: white;
}





/*FORMULARIO DE LOGIN*/
.login-sidebar {
    position: fixed;
    background-color: white;
    right: 0;
    padding: 20px;
    height: 100vh;
    width: 400px;
    z-index: 50;
    transition-property: transform;
    transition-duration: 500ms;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.login-sidebar-open {
    transform: translateX(0);
}

.login-sidebar-close {
    transform: translateX(100%);
}


#login-sidebar #formPassword,
#login-sidebar #formName {
    padding: 10px 20px;
    background-color: #f5f5f5;
}



/*PÁGINA USUARIO REGISTRADO*/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.8s ease-out;
}


@keyframes checkDraw {
    0% {
        stroke-dasharray: 0, 100;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        stroke-dasharray: 100, 0;
        opacity: 1;
    }
}

.animate-check {
    animation: checkDraw 0.8s ease-out 0.3s both;
}


@keyframes pingSlow {
    0% {
        transform: scale(1);
        opacity: 0.2;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

.animate-ping-slow {
    animation: pingSlow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}