body {
    background-color: #FFFFFF;
    color: #111;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

/* Tipografía Editorial */
h1,
h2,
h3,
h4,
.editorial-font {
    font-family: 'Bodoni Moda', serif;
}

/* Header Transición */
#main-header {
    transition: all 0.4s ease;
}

.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

/* Marquee (Texto que corre) */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Estilos personalizados para el Sidebar */
.sidebar-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.sidebar-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #D4AF37;
    transition: width 0.3s ease;
}

.sidebar-link:hover {
    color: #D4AF37;
    padding-left: 5px;
}

.sidebar-link:hover::before {
    width: 100%;
}

/* Checkbox personalizado */
.custom-checkbox {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid #ccc;
    display: grid;
    place-content: center;
    margin-right: 0.5em;
    cursor: pointer;
}

.custom-checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #D4AF37;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.custom-checkbox:checked::before {
    transform: scale(1);
}